body {
  background-color: #d4d4d4;
  height: 90vh;
  width: 95vw;
  margin: auto;
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;
  margin-top: 2rem;
  text-align: center;
}

#browser {
  padding-top: 2rem;
  background: grey;
  border-radius: 15px;
  height: 80%;
}

header {
  width: 80%;
  margin: auto;
}

#tabs-container {
  display: flex;
  
}

.tab {
  display: inline;
  text-align: left;
  background: red;

}

#navbar {
  height: 50px;
  background: rgb(197, 197, 197);
  user-select: none;
  line-height: 50px;
  border-radius: 15px;
}

#internet-page {
  margin-top: 1rem;
}
