body {
  background-color: #171741;
  height: 90vh;
  width: 95vw;
  margin: auto;
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;
  margin-top: 2rem;
  text-align: center;
}

#browser {
  padding-top: 0.2rem;
  background: grey;
  border-radius: 15px;
  height: 600px;
  min-width: 500px;
  position: relative;
  overflow: hidden;
  border: 3px solid rgb(34, 34, 34);
}

#return {
  position: absolute;
  right: 0.2rem;
  top: 0.2rem;
  border-radius: 10px;
  height: 35px;
  width: 35px;
  background: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

#return:hover {
  background: rgb(185, 185, 185);
}

/* HEADER */
header {
  width: 80%;
  height: 100px;
  margin: auto;
}

#marque {
  position: absolute;
  left: 1rem;
  font-style: italic;
  user-select: none;
}

#tabs-container {
  display: flex;
  transform: skew(15deg);
  padding: 0 1rem;
}

.tab {
  display: inline;
  text-align: left;
  background: rgb(170, 170, 170);
  padding: 0.2rem 1.5rem;
  font-style: italic;
  cursor: pointer;
}

.tab:hover {
  background: rgb(185, 185, 185);
}

.active {
  background: rgb(197, 197, 197);
}

#navbar {
  height: 50px;
  background: rgb(197, 197, 197);
  user-select: none;
  line-height: 50px;
  border-radius: 15px;
}

/* MAIN */

main {
  height: 500px;
  width: 100%;
  background: whitesmoke;
}

#internet-page {
  height: 500px;
}

#connexion {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page-navbar {
  display: flex;
  align-items: center;
  background: #e53935;
  height: 50px;
  width: 100%;
}

#page-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 50px;
  font-size: 1.2rem;
  margin-left: 1rem;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  border: 2px solid rgb(146, 67, 67);
  border-radius: 15px;
  height: 90%;
  width: 150px;
  background: tomato;
  user-select: none;
}

#page-logo:hover {
  transform: scale(1.05);
  transition: 0.2s;
}

#page-profile {
  position: absolute;
  right: 1rem;
  border: 1px solid black;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  background: rgb(197, 197, 197);
}

#page-profile:hover {
  background: rgb(185, 185, 185);
}

#page-body {
  height: 450px;
  display: flex;
  flex-direction: column;
}

#body-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: auto;
  flex-wrap: wrap;
  gap: 20px;
}

button {
  background: rgb(197, 197, 197);
  border: 1px solid black;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  width: 150px;
}

button:hover {
  background: rgb(185, 185, 185);
}