body {
  background-color: #d4d4d4;
  height: 90vh;
  width: 95vw;
  margin: auto;
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;
  margin-top: 2rem;
  text-align: center;
}

#browser {
  padding-top: 2rem;
  background: grey;
  border-radius: 15px;
  height: 80%;
  position: relative;
  overflow: hidden;
  border: 3px solid rgb(34, 34, 34);
}

#return {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 5px;
  height: 35px;
  aspect-ratio: 1 / 1;
  background: lightgray;
}

/* HEADER */
header {
  width: 80%;
  height: 20%;
  margin: auto;
}

#tabs-container {
  display: flex;
  transform: skew(15deg);
  padding: 0 1rem;
}

.tab {
  display: inline;
  text-align: left;
  background: rgb(170, 170, 170);
  padding: 0.2rem 1.5rem;
  font-style: italic;
  cursor: pointer;
}

.tab:hover {
  background: rgb(185, 185, 185);
}

.active {
  background: rgb(197, 197, 197);
}

#navbar {
  height: 50px;
  background: rgb(197, 197, 197);
  user-select: none;
  line-height: 50px;
  border-radius: 15px;
}

/* MAIN */

main {
  height: 80%;
  width: 100%;
  background: whitesmoke;
}

#internet-page {
  height: 100%;
}

#connexion {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page-navbar {
  background: red;
  height: 50px;
  width: 100%;
}

#page-logo {
  display: flex;
  text-align: center;
  line-height: 50px;
  font-size: 1.2rem;
  padding-left: 0.7rem;
  margin-left: 1rem;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  border: 2px solid black;
  border-radius: 15px;
  height: 100%;
  width: 130px;
  background: tomato;
  cursor: pointer;
}