body {
  background-color: #d4d4d4;
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;
}

.text-warning {
  color: goldenrod !important;
}

table {
  margin: auto;
  border: 1px solid #000;
  background-color: #eee;
}

th {
  text-align: center;
}
tr {
  text-align: center;
}

table, td {
  border: 1px solid #000;
}

table, th, td {
  padding: 0.25rem;
}

#player-gold {
  color: goldenrod;
}

#actions {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: auto;
}

#player-infos {
  margin-top: 3rem;
  font-style: italic;
}

.btn-boss {
  background: red;
  height: 50px;
  width: 150px;
}