table {
  margin: auto;
  border: 1px solid #000;
  background-color: #eee;
}

th {
  text-align: center;
}
tr {
  text-align: center;
}

table, td {
  border: 1px solid #000;
}

#player-gold {
  color: goldenrod;
}
