{% extends "layout.html" %}

{% block title %}
    Your Profile
{% endblock %}

{% block main %}
    <table class="table">
      <thead class="table-dark">
        <tr class="table-primary">
          <th>Company</th>
          <th>Symbol</th>
          <th># Shares</th>
          <th>Current price of a share</th> 
          <th>Total holdings</th>
        </tr>
      </thead>
      <tbody class="table-secondary">
        {% for stock in stocks %}
          <tr class="table-success">
            <td>{{ stock.company }}</td>
            <td>{{ stock.symbol }}</td>
            <td>{{ stock.shares }}</td>
            <td>{{ stock.price }}</td>
            <td>{{ stock.total_holdings }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <table class="table">
      <thead class="table-dark">
        <tr class="table-primary">
          <th>Your Cash Balance</th>
          <th>All Total Holdings</th>
        </tr>
      </thead>
      <tbody class="table-secondary">
        <tr class="table-success">
          <td>{{ user_cash }}</td>
          <td>{{ all_total_holdings }}</td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary" value="Add-funds" onclick="addFunds()">Add Funds</button>
    
    <script>
        function addFunds() {
            let value = prompt("Enter the amount of cash you want to add to your account");
            fetch("/addfunds", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    "value": value
                })
            })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
            });
        }
    </script>
{% endblock %}