{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
    <table class="table">
        <thead class="table-dark">
            <tr class="table-primary">
                <th>Symbol</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody class="table-secondary">
            <tr class="table-success">
                <td>{{ quotes.symbol }}</td>
                <td>{{ quotes.name }}</td>
                <td>{{ quotes.price }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}