{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ quotes.symbol }}</td>
                <td>{{ quotes.name }}</td>
                <td>{{ quotes.price }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}